@charset "UTF-8";
/* CSS Document */
/*--------------------------------------------------------------------
  mixin
--------------------------------------------------------------------*/
/*--------------------------------------------------------------------
  reset
--------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 62.5%;
  }
}

body {
  line-height: 1;
  font-family: 'Yu Mincho', Georgia, 'Hiragino Mincho ProN', serif;
  font-size: 1.0rem;
}
@media screen and (max-width: 980px) {
  body {
    width: 1235px;
  }
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

@media screen and (max-width: 640px) {
  * {
    box-sizing: border-box;
  }
}
.taC {
  text-align: center;
  display: block;
}

/*--------------------------------------------------------------------
  header
--------------------------------------------------------------------*/
#header {
  background: #181b39;
}
#header #header-inner {
  width: 1235px;
  margin: 0 auto;
  padding: 35px 0;
}
#header #header-inner #logo {
  float: left;
}
#header #header-inner #g-nav .g-nav-list {
  float: right;
  padding-bottom: 20px;
  margin-top: -10px;
}
#header #header-inner #g-nav .g-nav-list li {
  float: left;
  padding: 10px 0 0;
  text-align: center;
  position: relative;
  width: 181px;
}
#header #header-inner #g-nav .g-nav-list li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-top: 15px;
  letter-spacing: 1px;
}
#header #header-inner #g-nav .g-nav-list li .make_border {
  width: 70px;
  height: 3px;
  background: #ecc92d;
  margin: auto;
  opacity: 0;
}
#header #header-inner #g-nav .g-nav-list .sub-menu {
  position: absolute;
  z-index: 10000;
  background: #181b39;
  display: none;
}
#header #header-inner #g-nav .g-nav-list .sub-menu li {
  float: none;
  padding: 15px 0;
  border-bottom: 1px solid #ecc92d;
}
#header #header-inner #g-nav .g-nav-list .sub-menu li a {
  font-size: 16px;
  padding-top: 0;
}
#header #header-inner #g-nav .g-nav-list .sub-menu li:first-child {
  margin-top: 20px;
}
#header #header-inner #g-nav .g-nav-list .sub-menu li:last-child {
  border-bottom: none;
}

/*--------------------------------------------------------------------
  main
--------------------------------------------------------------------*/
.slide-wrapper img {
  width: 100%;
}

/*--------------------------------------------------------------------
  news
--------------------------------------------------------------------*/
#news {
  background: #f2f2f2;
  padding-bottom: 60px;
}
#news #news-inner h2 {
  text-align: center;
  padding: 60px 0 30px;
}
#news #news-inner h2 img {
  max-width: 1053px;
  width: 100%;
}
#news #news-inner table {
  width: 850px;
  margin: 0 auto;
  font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 18px;
}
#news #news-inner table th {
  padding: 20px 30px;
  border-bottom: 1px dotted #ccc;
  letter-spacing: 3px;
}
#news #news-inner table td {
  padding: 20px 20px 20px 0;
  border-bottom: 1px dotted #ccc;
}
#news #news-inner table td a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 754px;
  display: block;
  text-decoration: none;
  color: #000;
  letter-spacing: 3px;
}
#news #news-inner table td a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------------
  lowyer
--------------------------------------------------------------------*/
#lowyers {
  background: #000;
  padding-top: 50px;
}
#lowyers h2 {
  text-align: center;
  padding-bottom: 30px;
}
#lowyers h2 img {
  max-width: 1053px;
  width: 100%;
}
#lowyers .concept {
  text-align: center;
  margin-left: 100px;
  padding-bottom: 50px;
}
#lowyers .concept img {
  max-width: 880px;
  width: 100%;
}
#lowyers .lowyers-list {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: justify;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: justify;
  /*--- IE10 ---*/
  -webkit-justify-content: space-between;
  /*--- safari（PC）用 ---*/
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
#lowyers .lowyers-list li {
  width: 33.33333%;
}
#lowyers .lowyers-list li img {
  width: 100%;
  display: block;
}

/*--------------------------------------------------------------------
  guide
--------------------------------------------------------------------*/
#guide {
  background: #ccc;
  padding-top: 60px;
}
#guide h2 {
  text-align: center;
  padding-bottom: 30px;
}
#guide h2 img {
  max-width: 1053px;
  width: 100%;
}
#guide .guide-list {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: justify;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: justify;
  /*--- IE10 ---*/
  -webkit-justify-content: space-between;
  /*--- safari（PC）用 ---*/
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  max-width: 1055px;
  width: 100%;
  margin: 0 auto;
}
#guide .guide-list li {
  max-width: 516px;
  width: 45%;
  margin-bottom: 20px;
}
#guide .guide-list li a:hover {
  opacity: .7;
}
#guide .guide-list li img {
  width: 100%;
}

/*--------------------------------------------------------------------
  contact
--------------------------------------------------------------------*/
#contact {
  background: #f2f2f2;
  padding-top: 30px;
}
#contact h2 {
  text-align: center;
}
#contact h2 img {
  max-width: 1053px;
  width: 100%;
}
#contact .contact-list {
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: justify;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: justify;
  /*--- IE10 ---*/
  -webkit-justify-content: space-between;
  /*--- safari（PC）用 ---*/
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#contact .contact-list li {
  width: 480px;
  margin-bottom: 40px;
}
#contact .contact-list li a:hover {
  opacity: .7;
}
#contact .contact-list li img {
  width: 100%;
}

/*--------------------------------------------------------------------
  access
--------------------------------------------------------------------*/
#access {
  background: #000;
  padding-top: 30px;
}
#access h2 {
  text-align: center;
  padding-bottom: 30px;
}
#access h2 img {
  max-width: 1053px;
  width: 100%;
}
#access .address {
  font-size: 18px;
  color: #fff;
  width: 600px;
  margin: 0 auto;
  line-height: 1.8;
  font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  padding-bottom: 40px;
}
#access iframe {
  width: 100%;
}
#access #before {
  position: relative;
}
#access #before:before {
  content: url(../img/home/map_icon.png);
  position: absolute;
  width: 127px;
  margin: auto;
  left: 0;
  right: 0;
}

/*--------------------------------------------------------------------
  footer
--------------------------------------------------------------------*/
#footer {
  background: #000;
}
#footer #footer-inner {
  width: 1235px;
  margin: 0 auto;
  padding: 35px 0;
  overflow: hidden;
}
#footer #footer-inner #logo {
  float: left;
}
#footer #footer-inner #g-nav {
  width: 100%;
}
#footer #footer-inner #g-nav .footer-menu {
  float: right;
}
#footer #footer-inner #g-nav .footer-menu li {
  float: left;
  padding: 0 20px;
}
#footer #footer-inner #g-nav .footer-menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-top: 15px;
  letter-spacing: 1px;
}
#footer #footer-inner #g-nav .footer-menu li a:hover {
  opacity: .7;
}
#footer #footer-inner #g-nav .make_border {
  width: 850px;
  height: 1px;
  background: #fff;
  margin: 20px 40px 0 0;
  float: right;
}
#footer #footer-inner #g-nav .sub-menu {
  clear: both;
  margin-left: 457px;
}
#footer #footer-inner #g-nav .sub-menu li {
  padding: 5px 30px;
}
#footer #footer-inner #g-nav .sub-menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding-top: 15px;
  letter-spacing: 1px;
}
#footer #footer-inner #g-nav .sub-menu li a:hover {
  opacity: .7;
}

/*--------------------------------------------------------------------
  copyright
--------------------------------------------------------------------*/
#copyright {
  background: #666;
  padding: 25px 0;
}
#copyright .copy {
  color: #000;
  text-align: center;
  font-size: 12px;
}

/*--------------------------------------------------------------------
  cost
--------------------------------------------------------------------*/
#fv {
  text-align: center;
  background: #181b39;
}
#fv img {
  max-width: 1404px;
  width: 100%;
}

#fv2 {
  text-align: center;
  background: #fff;
}
#fv2 img {
  max-width: 1404px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

#bread-crumb {
  background: #d1b22f;
  padding: 10px 0;
  overflow: hidden;
}
#bread-crumb ul {
  width: 1053px;
  margin: 0 auto;
}
#bread-crumb ul li {
  float: left;
  font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  letter-spacing: 2px;
}
#bread-crumb ul li:last-child {
  padding-left: 10px;
}
#bread-crumb ul li a {
  padding: 0 10px;
  color: #000;
}

#cost {
  background: #181b39;
  padding: 70px 0 50px;
}
#cost #cost-inner {
  width: 1053px;
  margin: 0 auto;
}
#cost #cost-inner h2 {
  text-align: center;
  padding: 15px 0;
  background: #fff;
  font-size: 40px;
  color: #d1b22f;
}
#cost #cost-inner .concept {
  color: #fff;
  padding: 40px 0 0 40px;
  line-height: 1.7;
  letter-spacing: 1px;
  font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

#civil-proceedings {
  padding: 70px 0 50px;
}
#civil-proceedings #civil-proceedings-inner {
  width: 1053px;
  margin: 0 auto;
}
#civil-proceedings #civil-proceedings-inner h2 {
  text-align: center;
  padding: 15px 0;
  background: #181b39;
  font-size: 40px;
  color: #d1b22f;
}
#civil-proceedings #civil-proceedings-inner .concept {
  padding: 40px 40px 0;
  line-height: 1.7;
  letter-spacing: 1px;
  font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

/*--------------------------------------------------------------------
  guide
--------------------------------------------------------------------*/
#guide {
  background: #181b39;
  padding: 70px 0 50px;
}
#guide #guide-inner {
  width: 1053px;
  margin: 0 auto;
}
#guide #guide-inner .iframe {
  width: 100%;
  margin-bottom: 40px;
}
#guide #guide-inner .concept {
  color: #fff;
  line-height: 1.9;
  padding: 0 50px;
}
#guide #guide-inner img {
  display: block;
  width: 100%;
  max-width: 849px;
  margin: 40px auto;
}

#introduction {
  padding: 70px 0 50px;
}
#introduction #introduction-inner h2 {
  text-align: center;
  padding: 15px 0;
  background: #181b39;
  font-size: 40px;
  color: #d1b22f;
  width: 1053px;
  margin: 0 auto;
}
#introduction #introduction-inner .lowyers-list {
  margin-top: 50px;
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  display: -webkit-flex;
  /*--- safari（PC）用 ---*/
  display: flex;
  -webkit-box-pack: justify;
  /*--- Androidブラウザ用 ---*/
  -ms-flex-pack: justify;
  /*--- IE10 ---*/
  -webkit-justify-content: space-between;
  /*--- safari（PC）用 ---*/
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
#introduction #introduction-inner .lowyers-list li {
  width: 33.33333%;
}
#introduction #introduction-inner .lowyers-list li img {
  width: 100%;
  display: block;
}

#overview {
  padding: 70px 0 50px;
}
#overview #overview-inner h2 {
  text-align: center;
  padding: 15px 0;
  background: #181b39;
  font-size: 40px;
  color: #d1b22f;
  width: 1053px;
  margin: 0 auto;
}
#overview #overview-inner p {
  padding: 50px;
  width: 585px;
  line-height: 1.8;
  margin: 40px auto 0;
  box-sizing: border-box;
  font-size: 20px;
  border: 1px solid #d1b22f;
  position: relative;
}
#overview #overview-inner p span {
  position: absolute;
  right: 0;
  bottom: 0;
}
#overview #overview-inner p span img {
  display: block;
}
#overview #overview-inner .wrapper {
  position: relative;
  width: 585px;
  margin: 40px auto 0;
}
#overview #overview-inner .wrapper span {
  position: absolute;
  right: 0;
  bottom: 0;
}
#overview #overview-inner .wrapper span img {
  display: block;
}
#overview #overview-inner table {
  line-height: 1.8;
  box-sizing: border-box;
  font-size: 20px;
  border: 1px solid #d1b22f;
}
#overview #overview-inner table tr:first-of-type th {
  padding-top: 50px;
}
#overview #overview-inner table tr:first-of-type td {
  padding-top: 50px;
}
#overview #overview-inner table tr:last-of-type th {
  padding-bottom: 50px;
}
#overview #overview-inner table tr:last-of-type td {
  padding-bottom: 50px;
}
#overview #overview-inner table th {
  padding: 5px 0 5px 50px;
  width: 120px;
  text-align: left;
}
#overview #overview-inner table td {
  padding: 5px 50px 5px 0;
}

#capacity {
  padding: 70px 0 50px;
}
#capacity #capacity-inner h2 {
  text-align: center;
  padding: 15px 0;
  background: #181b39;
  font-size: 40px;
  color: #d1b22f;
  width: 1053px;
  margin: 0 auto;
}
#capacity #capacity-inner p {
  padding: 50px;
  width: 585px;
  line-height: 1.8;
  margin: 40px auto 0;
  box-sizing: border-box;
  font-size: 20px;
  border: 1px solid #d1b22f;
  position: relative;
}
#capacity #capacity-inner p span {
  position: absolute;
  right: 0;
  bottom: 0;
}
#capacity #capacity-inner p span img {
  display: block;
}

/*--------------------------------------------------------------------
  lowyer-intoroduction
--------------------------------------------------------------------*/
#lowyer-intoroduction {
  background: #181b39;
  padding: 70px 0 50px;
}
#lowyer-intoroduction #lowyer-intoroduction-inner {
  width: 980px;
  margin: 0 auto;
}
#lowyer-intoroduction #lowyer-intoroduction-inner h2 {
  text-align: center;
  padding: 15px 0;
  background: url(../img/introduction/headline_bg_white_gradation.png) no-repeat;
  font-size: 40px;
  color: #fff;
  width: 980px;
  margin: 60px auto 0;
}
#lowyer-intoroduction #lowyer-intoroduction-inner .concept {
  color: #fff;
  line-height: 1.9;
  padding: 0 50px;
}
#lowyer-intoroduction #lowyer-intoroduction-inner img {
  display: block;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
#lowyer-intoroduction #lowyer-intoroduction-inner .flL {
  float: left;
}
#lowyer-intoroduction #lowyer-intoroduction-inner .flR {
  float: right;
}
#lowyer-intoroduction #lowyer-intoroduction-inner .thumbnail {
  margin-right: 40px;
}
#lowyer-intoroduction #lowyer-intoroduction-inner .thumbnail02 {
  margin-left: 40px;
}
#lowyer-intoroduction #lowyer-intoroduction-inner .center {
  max-width: 470px;
  width: 100%;
  margin-top: 40px;
}
#lowyer-intoroduction #lowyer-intoroduction-inner .discript {
  color: #f1f1f1;
  line-height: 1.76;
  margin: 40px 0 0 0;
  font-size: 18px;
}

#personality {
  padding: 0 0 50px;
}
#personality #personality-inner {
  width: 1053px;
  margin: 0 auto;
}
#personality #personality-inner h2 {
  text-align: center;
  padding: 15px 0;
  background: #181b39;
  font-size: 40px;
  color: #d1b22f;
  width: 1053px;
  margin: 10px auto 0;
}
#personality #personality-inner ul {
  margin: 60px;
}
#personality #personality-inner ul li {
  border-bottom: 1px dotted #ccc;
  padding: 15px 0;
}
#personality #personality-inner ul li span {
  font-weight: bold;
}

#media {
  padding: 10px 0 50px;
}
#media #media-inner h2 {
  text-align: center;
  padding: 15px 0;
  background: #181b39;
  font-size: 40px;
  color: #d1b22f;
  width: 1053px;
  margin: 0 auto;
}
#media #media-inner p {
  padding: 50px;
  width: 585px;
  height: 359px;
  line-height: 1.8;
  margin: 40px auto 0;
  box-sizing: border-box;
  font-size: 20px;
  background: url(../img/guide/frame_common.png) no-repeat;
}
#media #media-inner .wrapper {
  position: relative;
  width: 585px;
  margin: 40px auto 0;
}
#media #media-inner .wrapper span {
  position: absolute;
  right: 0;
  bottom: 0;
}
#media #media-inner .wrapper span img {
  display: block;
}
#media #media-inner table {
  width: 585px;
  line-height: 1.8;
  margin: 40px auto 0;
  box-sizing: border-box;
  font-size: 20px;
  border: 1px solid #d1b22f;
}
#media #media-inner table tr:first-of-type th {
  padding-top: 50px;
}
#media #media-inner table tr:first-of-type td {
  padding-top: 50px;
}
#media #media-inner table tr:last-of-type th {
  padding-bottom: 50px;
}
#media #media-inner table tr:last-of-type td {
  padding-bottom: 50px;
}
#media #media-inner table th {
  padding: 5px 0 5px 50px;
  width: 120px;
  text-align: left;
}
#media #media-inner table td {
  padding: 5px 50px 5px 0;
}

/*--------------------------------------------------------------------
  article
--------------------------------------------------------------------*/
#article {
  background: #181b39;
}
#article #article-inner {
  width: 1053px;
  margin: 0 auto;
  padding: 50px 0;
  background: #fff;
  font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
#article #article-inner .date-wrapper {
  padding: 0 130px;
}
#article #article-inner .date {
  padding: 7px 15px;
  background: #181b39;
  color: #d1b22f;
  display: inline-block;
}
#article #article-inner .title {
  font-size: 24px;
  color: #333;
  letter-spacing: 2px;
  padding: 20px 130px 40px;
  line-height: 1.9;
  text-decoration: underline;
}
#article #article-inner .contents {
  padding: 40px 60px;
  margin: 0 70px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  color: #777;
  line-height: 1.9;
}
#article #article-inner .contents p {
  color: #777;
}

/*--------------------------------------------------------------------
  issue
--------------------------------------------------------------------*/
#issue {
  padding: 70px 0 50px;
}
#issue #issue-inner {
  width: 1053px;
  margin: 0 auto;
}
#issue #issue-inner .category {
  margin-bottom: 70px;
}
#issue #issue-inner h2 {
  text-align: center;
  padding: 15px 0;
  background: #181b39;
  font-size: 40px;
  color: #d1b22f;
  width: 1053px;
  margin: 0 auto 20px;
}
#issue #issue-inner .concept {
  padding: 10px 0 0 40px;
  line-height: 1.9;
  letter-spacing: 1px;
  font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
#issue #issue-inner .attention {
  padding: 20px 0 10px 40px;
  line-height: 1.9;
  font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
#issue #issue-inner .attention:before, #issue #issue-inner .attention:after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 1px;
  margin: 0 10px;
  background-color: #000;
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
