@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------------
  mixin
--------------------------------------------------------------------*/
@mixin horizon {
	text-align: center;
	position: relative;
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
@mixin flexbox($space:space-between) {
	display:-webkit-box;/*--- Androidブラウザ用 ---*/
	display:-ms-flexbox;/*--- IE10 ---*/
	display: -webkit-flex;/*--- safari（PC）用 ---*/
	display: flex;
	-webkit-box-pack:justify;/*--- Androidブラウザ用 ---*/
	-ms-flex-pack:justify;/*--- IE10 ---*/
	-webkit-justify-content:$space;/*--- safari（PC）用 ---*/
	justify-content: $space;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
}

/*--------------------------------------------------------------------
  reset
--------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	@media screen and (max-width: 640px){
		font-size: 62.5%;
	}
}
body {
	line-height: 1;
	font-family: 'Yu Mincho', Georgia, 'Hiragino Mincho ProN', serif;
	font-size: 1.0rem;
	@media screen and (max-width: 980px){
		width: 1235px;
	}
}

.clearfix:after {
	display: block;
	clear: both;
	content: "";
}

@media screen and (max-width: 640px){
	* {
		box-sizing: border-box;
	}
}

.taC {
	text-align: center;
	display: block;
}

/*--------------------------------------------------------------------
  header
--------------------------------------------------------------------*/
#header {
	background: #181b39;
	#header-inner {
		width: 1235px;
		margin: 0 auto;
		padding: 35px 0;
		#logo {
			float: left;
		}
		#g-nav {
			.g-nav-list {
				float: right;
				padding-bottom: 20px;
				margin-top: -10px;
				li {
					float: left;
					padding: 10px 0 0;
					text-align: center;
					position: relative;;
					width: 181px;
					a {
						display: block;
						color: #fff;
						text-decoration: none;
						font-size: 18px;
						padding-top: 15px;
						letter-spacing: 1px;
					}
					.make_border {
						width: 70px;
						height: 3px;
						background: #ecc92d;
						margin: auto;
						opacity: 0;
					}
				}
				.sub-menu {
					position: absolute;
					z-index: 10000;
					background: #181b39;
					display: none;
					li {
						float: none;
						padding: 15px 0;
						border-bottom: 1px solid #ecc92d;
						a {
							font-size: 16px;
							padding-top: 0;
						}
					}
					li:first-child {
						margin-top: 20px;
					}
					li:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------------
  main
--------------------------------------------------------------------*/
.slide-wrapper {
	img {
		width: 100%;
	}
}

/*--------------------------------------------------------------------
  news
--------------------------------------------------------------------*/
#news {
	background: #f2f2f2;
	padding-bottom: 60px;
	#news-inner {
		h2 {
			text-align: center;
			padding:60px 0 30px;
			img {
				max-width: 1053px;
				width: 100%;
			}
		}
		table {
			width: 850px;
			margin: 0 auto;
			font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
			font-size: 18px;
			th {
				padding: 20px 30px;
				border-bottom: 1px dotted #ccc;
				letter-spacing: 3px;
			}
			td {
				padding: 20px 20px 20px 0;
				border-bottom: 1px dotted #ccc;
				a {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 754px;
					display: block;
					text-decoration: none;
					color: #000;
					letter-spacing: 3px;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------------
  lowyer
--------------------------------------------------------------------*/
#lowyers {
	background: #000;
	padding-top:50px;
	h2 {
		text-align: center;
		padding-bottom: 30px;
		img {
			max-width: 1053px;
			width: 100%;
		}
	}
	.concept {
		text-align: center;
		margin-left: 100px;
		padding-bottom:50px;
		img {
			max-width: 880px;
			width: 100%;
		}
	}
	.lowyers-list {
		@include flexbox;
		@media screen and (max-width: 980px){
			@include flexbox(center);
		}
		li {
			width: 33.33333%;
			@media screen and (max-width: 980px){
				width: 1053px;
			}
			img {
				width: 100%;
				display: block;
			}
		}
	}
}

/*--------------------------------------------------------------------
  guide
--------------------------------------------------------------------*/
#top-guide {
	background: #ccc;
	padding:60px 0 40px;
	h2 {
		text-align: center;
		padding-bottom: 30px;
		img {
			max-width: 1053px;
			width: 100%;
		}
	}
	.guide-list {
		@include flexbox;
		max-width: 1055px;
		width: 100%;
		margin: 0 auto;
		@media screen and (max-width: 980px){
			@include flexbox(center);
		}
		li {
			max-width: 516px;
			width: 100%;
			margin-bottom: 20px;
			@media screen and (max-width: 980px){
				max-width: 1053px;
				width: 100%;
			}
			a:hover {
				opacity: .7;
			}
			img {
				width: 100%;
			}
		}
	}
}

/*--------------------------------------------------------------------
  contact
--------------------------------------------------------------------*/
#contact {
	background: #f2f2f2;
	padding-top:30px;
	h2 {
		text-align: center;
		img {
			max-width: 1053px;
			width: 100%;
		}
	}
	.contact-list {
		@include flexbox;
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
		@media screen and (max-width: 980px){
			@include flexbox(center);
		}
		li {
			width: 480px;
			margin-bottom: 40px;
			@media screen and (max-width: 980px){
				width: 95%;
			}
			a:hover {
				opacity: .7;
			}
			img {
				width: 100%;
			}
		}
	}
}

/*--------------------------------------------------------------------
  access
--------------------------------------------------------------------*/
#access {
	background: #000;
	padding-top:30px;
	h2 {
		text-align: center;
		padding-bottom: 30px;
		img {
			max-width: 1053px;
			width: 100%;
		}
	}
	.address {
		font-size: 18px;
		color: #fff;
		width: 600px;
		margin: 0 auto;
		line-height: 1.8;
		font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
		padding-bottom: 40px;
	}
	iframe {
		width: 100%;
	}
	#before {
		position: relative;
	}
	#before:before {
		content: url(../img/home/map_icon.png);
		position: absolute;
		width: 127px;
		margin: auto;
		left: 0;
		right: 0;
	}
}

/*--------------------------------------------------------------------
  footer
--------------------------------------------------------------------*/
#footer {
	background: #000;
	#footer-inner {
		width: 1235px;
		margin: 0 auto;
		padding: 35px 0;
		overflow: hidden;
		#logo {
			float: left;
		}
		#g-nav {
			width: 100%;
			.footer-menu {
				float: right;
				li {
					float: left;
					padding: 0 15px;
					a {
						display: block;
						color: #fff;
						text-decoration: none;
						font-size: 16px;
						// border-top: 3px solid #ecc92d;
						padding-top: 15px;
						letter-spacing: 1px;
						&:hover {
							opacity: .7;
						}
					}
				}
			}
			.make_border {
				width: 825px;
				height: 1px;
				background: #fff;
				margin: 20px 40px 0 0;
				float: right;
			}
			.sub-menu {
				clear: both;
				margin-left: 465px;
				display: inline-block;
				li {
					padding: 5px 30px;
					a {
						display: block;
						color: #fff;
						text-decoration: none;
						font-size: 14px;
						padding-top: 15px;
						letter-spacing: 1px;
						&:hover {
							opacity: .7;
						}
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------------
  copyright
--------------------------------------------------------------------*/
#copyright {
	background: #666;
	padding: 25px 0;
	.copy {
		color: #000;
		text-align: center;
		font-size: 12px;
	}
}


/*--------------------------------------------------------------------
  cost
--------------------------------------------------------------------*/
#fv{
	text-align: center;
	background: #181b39;
	img {
		max-width: 1404px;
		width: 100%;
		display: block;
		margin: 0 auto;
	}
}

#fv2{
	text-align: center;
	background: #fff;
	img {
		max-width: 1404px;
		width: 100%;
		display: block;
		margin: 0 auto;
	}
}

#bread-crumb {
	background: #d1b22f;
	padding: 10px 0;
	overflow: hidden;
	ul {
		width: 1053px;
		margin: 0 auto;
		li {
			float: left;
			font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
			letter-spacing: 2px;
			&:last-child {
				padding-left: 10px;
			}
			a {
				padding: 0 10px;
				color: #000;
			}
		}
	}
}

#cost {
	background: #181b39;
	padding: 70px 0 50px;
	#cost-inner {
		width: 1053px;
		margin: 0 auto;
		h2 {
			text-align: center;
			padding: 15px 0;
			background: #fff;
			font-size: 40px;
			color: #d1b22f;
		}
		.concept {
			color: #fff;
			padding: 40px 0 0 40px;
			line-height: 1.7;
			letter-spacing: 1px;
			font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
		}
	}
}

#civil-proceedings {
	padding: 70px 0 50px;
	#civil-proceedings-inner {
		width: 1053px;
		margin: 0 auto;
		h2 {
			text-align: center;
			padding: 15px 0;
			background: #181b39;
			font-size: 40px;
			color: #d1b22f;
		}
		.concept {
			padding: 40px 40px 0;
			line-height: 1.7;
			letter-spacing: 1px;
			font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
		}
	}
}

/*--------------------------------------------------------------------
  guide
--------------------------------------------------------------------*/
#guide {
	background: #181b39;
	padding: 70px 0 50px;
	#guide-inner {
		max-width: 1053px;
		width: 100%;
		margin: 0 auto;
		.iframe {
			width: 100%;
			margin-bottom: 40px;
		}
		.concept {
			color: #fff;
			line-height: 1.9;
			padding:0 50px;
		}
		img {
			display: block;
			width: 100%;
			margin: 40px auto;
		}
	}
}

#introduction {
	padding: 70px 0 50px;
	#introduction-inner {
		h2 {
			text-align: center;
			padding: 15px 0;
			background: #181b39;
			font-size: 40px;
			color: #d1b22f;
			width: 1053px;
			margin: 0 auto;
		}
		.lowyers-list {
			margin-top: 50px;
			@include flexbox;
			@media screen and (max-width: 980px){
				@include flexbox(center);
			}
			li {
				width: 33.33333%;
				@media screen and (max-width: 980px){
					width: 1053px;
				}
				img {
					width: 100%;
					display: block;
				}
			}
		}
	}
}

#overview {
	padding: 70px 0 50px;
	#overview-inner {
		h2 {
			text-align: center;
			padding: 15px 0;
			background: #181b39;
			font-size: 40px;
			color: #d1b22f;
			width: 1053px;
			margin: 0 auto;
		}
		p {
			padding: 50px;
			width: 585px;
			line-height: 1.8;
			margin: 40px auto 0;
			box-sizing: border-box;
			font-size: 20px;
			border: 1px solid #d1b22f;
			position: relative;
			span {
				position: absolute;
				right: 0;
				bottom: 0;
				img {
					display: block;
				}
			}
		}
		.wrapper {
			position: relative;
			width: 585px;
			margin: 40px auto 0;
			span {
				position: absolute;
				right: 0;
				bottom: 0;
				img {
					display: block;
				}
			}
		}
		table {
			line-height: 1.8;
			box-sizing: border-box;
			font-size: 20px;
			border: 1px solid #d1b22f;
			tr:first-of-type {
				th {
					padding-top: 50px;
				}
				td {
					padding-top: 50px;
				}
			}
			tr:last-of-type {
				th {
					padding-bottom: 50px;
				}
				td {
					padding-bottom: 50px;
				}
			}
			th {
				padding: 5px 0 5px 50px;
				width: 120px;
				text-align: left;
			}
			td {
				padding: 5px 50px 5px 0;
			}
		}
	}
}

#capacity {
	padding: 70px 0 50px;
	#capacity-inner {
		h2 {
			text-align: center;
			padding: 15px 0;
			background: #181b39;
			font-size: 40px;
			color: #d1b22f;
			width: 1053px;
			margin: 0 auto;
		}
		p {
			padding: 50px;
			width: 585px;
			line-height: 1.8;
			margin: 40px auto 0;
			box-sizing: border-box;
			font-size: 20px;
			border: 1px solid #d1b22f;
			position: relative;
			span {
				position: absolute;
				right: 0;
				bottom: 0;
				img {
					display: block;
				}
			}
		}
	}
}

/*--------------------------------------------------------------------
  lowyer-intoroduction
--------------------------------------------------------------------*/
#lowyer-intoroduction {
	background: #181b39;
	padding: 70px 0 50px;
	#lowyer-intoroduction-inner {
		width: 980px;
		margin: 0 auto;
		h2 {
			text-align: center;
			padding: 15px 0;
			background: url(../img/introduction/headline_bg_white_gradation.png) no-repeat;
			font-size: 40px;
			color: #fff;
			width: 980px;
			margin: 60px auto 0;
		}
		.concept {
			color: #fff;
			line-height: 1.9;
			padding:0 50px;
		}
		img {
			display: block;
			width: 100%;
			max-width: 980px;
			margin: 0 auto;
		}
		.flL {
			float: left;
			@media screen and (max-width: 980px){
				float: none;
				margin-top: 30px;
			}
		}
		.flR {
			float: right;
			@media screen and (max-width: 980px){
				float: none;
				margin-top: 30px;
			}
		}
		.thumbnail {
			margin-right: 40px;
			@media screen and (max-width: 980px){
				margin-right: 0;
			}
		}
		.thumbnail02 {
			margin-left: 40px;
			@media screen and (max-width: 980px){
				margin-left: 0;
			}
		}
		.center {
			max-width: 470px;
			width: 100%;
			margin-top: 40px;
			@media screen and (max-width: 980px){
				max-width: 100%;
			}
		}
		.discript {
			color: #f1f1f1;
			line-height: 1.76;
			margin: 40px 0 0 0;
			font-size: 18px;
		}
	}
}

#personality {
	padding: 0 0 50px;
	#personality-inner {
		width: 1053px;
		margin: 0 auto;
		h2 {
			text-align: center;
			padding: 15px 0;
			background: #181b39;
			font-size: 40px;
			color: #d1b22f;
			width: 1053px;
			margin: 10px auto 0;
		}
		ul {
			margin: 60px;
			li {
				border-bottom: 1px dotted #ccc;
				padding: 15px 0;
				@media screen and (max-width: 980px){
					font-size: 14px;
				}
				span {
					font-weight: bold;
					@media screen and (max-width: 980px){
						display: block;
						margin-bottom: 28px;
					}
				}
			}
		}
	}
}

#media {
	padding: 10px 0 50px;
	#media-inner {
		h2 {
			text-align: center;
			padding: 15px 0;
			background: #181b39;
			font-size: 40px;
			color: #d1b22f;
			width: 1053px;
			margin: 0 auto;
		}
		p {
			padding: 50px;
			width: 585px;
			height: 359px;
			line-height: 1.8;
			margin: 40px auto 0;
			box-sizing: border-box;
			font-size: 20px;
			background: url(../img/guide/frame_common.png) no-repeat;
		}
		.wrapper {
			position: relative;
			width: 585px;
			margin: 40px auto 0;
			span {
				position: absolute;
				right: 0;
				bottom: 0;
				img {
					display: block;
				}
			}
		}
		table {
			width: 585px;
			line-height: 1.8;
			margin: 40px auto 0;
			box-sizing: border-box;
			font-size: 20px;
			border: 1px solid #d1b22f;
			tr:first-of-type {
				th {
					padding-top: 50px;
				}
				td {
					padding-top: 50px;
				}
			}
			tr:last-of-type {
				th {
					padding-bottom: 50px;
				}
				td {
					padding-bottom: 50px;
				}
			}
			th {
				padding: 5px 0 5px 50px;
				width: 120px;
				text-align: left;
			}
			td {
				padding: 5px 50px 5px 0;
			}
		}
	}
}

/*--------------------------------------------------------------------
  article
--------------------------------------------------------------------*/
#article {
	background: #181b39;
	#article-inner {
		width: 1053px;
		margin: 0 auto;
		padding: 50px 0;
		background: #fff;
		font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
		.date-wrapper {
			padding: 0 130px;
		}
		.date {
			padding: 7px 15px;
			background: #181b39;
			color: #d1b22f;
			display: inline-block;
		}
		.title {
			font-size: 24px;
			color: #333;
			letter-spacing: 2px;
			padding: 20px 130px 40px;
			line-height: 1.9;
			text-decoration: underline;;
		}
		.contents {
			padding: 40px 60px;
			margin: 0 70px;
			border-top: 1px dotted #ccc;
			border-bottom: 1px dotted #ccc;
			color: #777;
			line-height: 1.9;
			p {
				color: #777;
			}
		}
	}
}

/*--------------------------------------------------------------------
  issue
--------------------------------------------------------------------*/
#issue {
	padding: 70px 0 50px;
	#issue-inner {
		width: 1053px;
		margin: 0 auto;
		.category {
			margin-bottom: 70px;
		}
		h2 {
			text-align: center;
			padding: 15px 0;
			background: #181b39;
			font-size: 40px;
			color: #d1b22f;
			width: 1053px;
			margin: 0 auto 20px;
		}
		.concept {
			padding: 10px 0 0 40px;
			line-height: 1.9;
			letter-spacing: 1px;
			font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
		}
		.attention {
			padding: 20px 0 10px 40px;
			line-height: 1.9;
			font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
			&:before, &:after {
				content: '';
		    display: inline-block;
		    width: 40px;
		    height: 1px;
		    margin: 0 10px;
		    background-color: #000;
		    vertical-align: middle;
			}
		}
	}
}

/*--------------------------------------------------------------------
  sitemap
--------------------------------------------------------------------*/
#sitemap {
	width: 1053px;
	margin: 100px auto;
	@include flexbox;
	.sitemap-list {
		width: 30%;
		margin-bottom: 40px;
		@media screen and (max-width: 980px){
			width: 95%;
		}
		h2 {
			background: #181b39;
			font-size: 18px;
			text-align: center;
			a {
				color: #fff;
				text-decoration: none;
				display: block;
				padding: 20px 40px;
				&:hover {
					opacity: .7;
				}
			}
		}
		ul {
			margin-top: 30px;
			li {
				margin-bottom: 20px;
				margin-left: 60px;
				a {
					color: #000;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				&:before {
					content: url(../img/sitemap/indicator_list_lawyers.png);
					margin-right: 15px;
				}
			}
		}
	}
}

/*--------------------------------------------------------------------
  contact
--------------------------------------------------------------------*/
#tel-contact {
	background: #181b39;
	padding: 70px 0 50px;
	#tel-contact-inner {
		width: 1053px;
		margin: 0 auto;
		h2 {
			text-align: center;
			padding: 15px 0;
			background: #fff;
			font-size: 40px;
			color: #d1b22f;
		}
		.tel-number {
			color: #fff;
			padding:52px 40px 0;
			line-height: 1.7;
			letter-spacing: 1px;
			font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
			width: 600px;
			margin: 30px auto 0;
			font-size: 32px;
			position: relative;
			text-align: right;
			&:before {
				content: url(../img/contact/img_phone.png);
				margin-right: 20px;
				position: absolute;
				top: 24%;
				left: 30px;
			}
		}
	}
}

#mail-contact {
	padding: 70px 0 50px;
	#mail-contact-inner {
		width: 1053px;
		margin: 0 auto;
		h2 {
			text-align: center;
			padding: 15px 0;
			background: #181b39;
			font-size: 40px;
			color: #d1b22f;
		}
		.input-form {
			width: 100%;
			margin: 20px auto 0;
			tr:first-of-type {
				th {
					background: url(../img/contact/inquery_listbox.png) no-repeat top left;
					padding-top: 17px;
				}
			}
			th.top {
				background: url(../img/contact/inquery_listbox.png) no-repeat top left;
				background-position: 0 4%;
			}
			th {
				text-align: left;
				vertical-align: top;
				width: 310px;
				height: 55px;
				line-height: 1.7;
				padding: 27px 10px 5px 20px;
				background: url(../img/contact/inquery_listbox.png) no-repeat center left;
				font-size: 14px;
				box-sizing: border-box;
			}
			td {
				padding: 15px 20px 15px;
				line-height: 1.7;
				background: #e4e4e4;
				border-bottom: 21px solid #fff;
				box-sizing: border-box;
				.terms {
					height: 250px;
					overflow: auto;
					padding: 10px;
					font-size: 12px;
					background: #fff;
				}
			}
			td input[type="text"],td input[type="tel"], td input[type="email"] {
				width: 100%;
				padding: 5px;
				box-sizing: border-box;
				border: none;
				background: #e4e4e4;
			}
		}
		.submit {
			width: 349px;
			margin: 40px auto 0;
			cursor: pointer;
			display: block;
			&:hover {
				opacity: .7;
			}
		}
	}
}

/*--------------------------------------------------------------------
  archive
--------------------------------------------------------------------*/
#archive {
	background: #181b39;
	#archive-inner {
		width: 1053px;
		margin: 0 auto;
		padding: 50px 0;
		background: #fff;
		font-family: Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
		.date-wrapper {
			padding: 0 130px;
		}
		.date {
			padding: 7px 15px;
			background: #181b39;
			color: #d1b22f;
			display: inline-block;
		}
		.title {
			font-size: 24px;
			letter-spacing: 2px;
			padding: 20px 130px 20px;
			line-height: 1.9;
			text-decoration: underline;
			a {
				color: #333;
			}
		}
		.contents {
			padding: 0 60px 40px;
			margin: 0 70px 30px;
			border-bottom: 1px dotted #ccc;
			color: #777;
			line-height: 1.9;
			p {
				color: #777;
			}
		}
	}
}
